<h1>Login</h1>
<% if(messages.error){ %>
        <% messages.error %> 
        <%}%>
        
        <form action="/login" method="POST">
        <div>
        <label>Email</label>
        <input type="email" id="email" name="email" /></div>
        <div>
        <label> Password</label>
        <input type="password" id="password" name="password" /><br>
</div>
<button type="submit">Login</button>
</form>
<a href="/register">Register</a>